@model tblBranch
@using Module.DB
@{
    bool isReadOnly = (bool)ViewBag.uiIsReadOnly;
    bool includeId = (bool)ViewBag.uiIncludeId;

    string brName = FixedSettings.BranchDescription;
}

@if (isReadOnly)
{
    List<vwEmployeeCareer> employees = Model.GetEmployees();
    int EmployeeCount_Active = employees.Where(x => x.Active).Count();
    int EmployeeCount_Inactive = employees.Count - EmployeeCount_Active;

    <div class="modal-view-ui pattern-bg">
        <div class="view-title">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.Id)
                        <div>
                            @Html.DisplayFor(model => model.Id)
                        </div>
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.BranchAddress)
                        <div>
                            @Html.DisplayFor(model => model.BranchAddress)
                        </div>
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.RCC)
                        <div>
                            @Html.DisplayFor(model => model.RCC)
                        </div>
                    </li>
                </ul>
                <br />
                <ul class="list-group">
                    <li class="list-group-item list-group-header">
                        Employee Count
                    </li>
                    <li class="list-group-item">
                        <label>Active</label>
                        <div>
                            @EmployeeCount_Active
                        </div>
                    </li>
                    <li class="list-group-item">
                        <label>Inactive</label>
                        <div>
                            @EmployeeCount_Inactive
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ItemType", "branch")

        @Html.HiddenFor(model => model.Id)

        <div class="modal-edit-ui pattern-bg">
            <ul class="list-group">
                @if (includeId)
                {
                    <li class="list-group-item dimmed">
                        @Html.LabelFor(model => model.Id)
                        <div>
                            @Html.DisplayFor(model => model.Id)
                        </div>
                    </li>
                }
                <li class="list-group-item">
                    <label>@brName</label>
                    <div>
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", maxlength = "200", placeholder = "[Enter " + brName + " ]" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.Address)
                    <div>
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", maxlength = "200", placeholder = "[Enter Address]" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.CountryId)
                    <div>
                        @Html.DropDownListFor(model => model.CountryId, SelectItems.getCountries(), new { @class = "form-control select2" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.PostalCode)
                    <div>
                        @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.RCC)
                    <div>
                        @Html.TextBoxFor(model => model.RCC, new { @class = "form-control" })
                    </div>
                </li>
            </ul>
        </div>
    }
}