@model List<coreApp.DAL.tblEmployee_Reference>

@{
    Layout = "~/Areas/HRModule/Views/Shared/_PDS.cshtml";

    ViewBag.Title = "Reference";
    

    

    Module.DB.tblEmployee employee = (Module.DB.tblEmployee)ViewBag.Employee;
}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = "Employee List", Link = Url.Action("Index", "Employees", new { area = "HRModule" }) },
        new Breadcrumb { Description = "Employee Profile", Link = Url.Action("Details", "Employees", new { id = employee.EmployeeId, area = "HRModule" } ) },
        new Breadcrumb { Description = ViewBag.Title }
    })
}

@section SearchSection {
    @Html.Action("Search", "EmployeeSearch", new { model = new coreApp.Models.EmployeeSearchUIModel { DisableShowPanelTrigger = true, DataUrl = "/HR/Manage/Employee/References/Index/{0}", MinimalView = true, LessParameters = true } })
}

<div class="table-responsive">
    <table class="tbl-1 display table table-bordered table-striped table-list" cellspacing="0" width="100%"
           modal-target modal-start="view"
           modal-view-url="/HR/Manage/Employee/References/Details/@employee.EmployeeId/{0}" modal-edit-url="/HR/Manage/Employee/References/Edit/@employee.EmployeeId/{0}" modal-delete-url="/HR/Manage/Employee/References/Delete/@employee.EmployeeId" modal-create-url="/HR/Manage/Employee/References/Create/@employee.EmployeeId">
        <thead>
            <tr>
                <th class="idcol">
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Telephone No.
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (coreApp.DAL.tblEmployee_Reference item in Model)
            {
                <tr record-id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelephoneNo)
                    </td>
                </tr>
            }
        </tbody>



    </table>
</div>



@section FormActions {
    <button class="btn btn-sm btn-default btn-create" onclick="$.fn.list('modalOp', this, 'create')" table-selector=".tbl-1">New</button>
}
