@{ 
    Layout = "~/Views/Shared/_Canvas.cshtml";
    Licenses.License lic = MvcApplication.ApplicationLicense;

}

@section Styles {
    <style>
        html, body, #wrapper, #content, #content > .content-wrap {
            height: 100% !important;
        }

        .body-cont {
            min-height: 400px;
            padding: 20px;
            background-color: #fff;
        }

        .section {
            overflow: auto;
        }
    </style>

    @RenderSection("Styles", false)
}

@section Footer {
    @RenderSection("Footer", false)
}

@section Scripts {
    @RenderSection("Scripts", false)
}

<!-- Content
        ============================================= -->
<section id="content">

    <div class="content-wrap nopadding">
        <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('@Procs.vdUrl("/Assets/images/backgrounds/ilogix-3.jpg")') center center no-repeat; background-size: cover;"></div>

        <div class="section nobg full-screen nopadding nomargin">
            <div class="body-cont">
                @RenderBody()
                
                @if (lic.IsValid)
                {
                    <hr />
                    <div class="license-info-link text-center">
                        @FixedSettings.Copyright
                    </div>
                }
            </div>
        </div>
    </div>
</section><!-- #content end -->