@model List<coreApp.DAL.tblEmployee_WorkExp>

@{
    Layout = "~/Areas/EmployeeModule/Views/Shared/_PDS.cshtml";

    ViewBag.Title = "My Work Experiences";




    Module.DB.tblEmployee employee = (Module.DB.tblEmployee)ViewBag.Employee;

    bool readOnly = !coreApp.Cache.Get().userAccess.HasPermission("EmployeeWorkExps");

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = "My Profile", Link = Url.Action("Details", "MyProfile", new { area = "EmployeeModule" } ) },
        new Breadcrumb { Description = ViewBag.Title }
    })
}

<div class="table-responsive">
    <table class="tbl-1 display table table-bordered table-striped table-list" cellspacing="0" width="100%"
           modal-target modal-start="view"
           modal-view-url="/HR/Manage/Employee/WorkExps/Details/@employee.EmployeeId/{0}" modal-edit-url="/HR/Manage/Employee/WorkExps/Edit/@employee.EmployeeId/{0}" modal-delete-url="/HR/Manage/Employee/WorkExps/Delete/@employee.EmployeeId" modal-create-url="/HR/Manage/Employee/WorkExps/Create/@employee.EmployeeId">
        <thead>
            <tr>
                <th class="idcol">
                    Id
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Position/Title
                </th>
                <th>
                    Company
                </th>
                <th>
                    Monthly Salary
                </th>
                <th>
                    Salary Grade
                </th>
                <th>
                    Status of Appointment
                </th>
                <th>
                    Gov. Service
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (coreApp.DAL.tblEmployee_WorkExp item in Model)
            {
                <tr record-id="@item.WEId" @(readOnly ? "locked" : "")>
                    <td>
                        @Html.DisplayFor(modelItem => item.WEId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTo_Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalaryGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusOfAppointment_Desc)
                    </td>
                    <td>
                        @Html.DisplayBooleanFor(modelItem => item.IsGovService)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>



@section FormActions {
    @if (!readOnly)
    {
        <button class="btn btn-sm btn-default btn-create" onclick="$.fn.list('modalOp', this, 'create')" table-selector=".tbl-1">New</button>
    }
}