@model coreApp.DAL.tblEmployee_Training

@{    
    bool isReadOnly = (bool)ViewBag.uiIsReadOnly;
    bool includeId = (bool)ViewBag.uiIncludeId;

}

@Html.HiddenFor(m => m.PDSEntry)

@if (isReadOnly)
{
    <div class="modal-view-ui pattern-bg">
        <div class="view-title">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.TrainingId)
                        <div>
                            @Html.DisplayFor(model => model.TrainingId)
                        </div>
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.DateFrom)
                        <div>
                            @Html.DisplayFor(model => model.DateFrom)
                        </div>
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.DateTo)
                        <div>
                            @Html.DisplayFor(model => model.DateTo)
                        </div>
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.NoOfHours)
                        <div>
                            @Html.DisplayFor(model => model.NoOfHours)
                        </div>
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.Type_Desc)
                        <div>
                            @Html.DisplayFor(model => model.Type_Desc)
                        </div>
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(model => model.ConductedBy)
                        <div>
                            @Html.DisplayFor(model => model.ConductedBy)
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.TrainingId)
        @Html.HiddenFor(model => model.EmployeeId)

        <div class="modal-edit-ui pattern-bg">
            <ul class="list-group">
                @if (includeId)
                {
                    <li class="list-group-item dimmed">
                        @Html.LabelFor(model => model.TrainingId)
                        <div>
                            @Html.DisplayFor(model => model.TrainingId)
                        </div>
                    </li>
                }
                <li class="list-group-item">
                    @Html.LabelFor(model => model.Title)
                    <div>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", maxlength = "200", placeholder = "[Enter Title]" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.DateFrom)
                    <div>
                        @Html.TextBoxFor(model => model.DateFrom, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.DateTo)
                    <div>
                        @Html.TextBoxFor(model => model.DateTo, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.NoOfHours)
                    <div>
                        @Html.TextBoxFor(model => model.NoOfHours, new { @class = "form-control", placeholder = "[Enter No. of Hours]" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.Type)
                    <div>
                        @Html.DropDownListFor(m => m.Type, coreApp.SelectItems.getLDTypes(), new { @class = "form-control" })
                    </div>
                </li>
                <li class="list-group-item">
                    @Html.LabelFor(model => model.ConductedBy)
                    <div>
                        @Html.TextBoxFor(m => m.ConductedBy, new { @class = "form-control", maxlength = "1000", placeholder = "[Enter Host]" })
                    </div>
                </li>
            </ul>
        </div>
    }
}

